root = true

[*.cs]
indent_size = 4
indent_style = space
insert_final_newline = true

# Remove unused parameter
dotnet_code_quality_unused_parameters = all
dotnet_diagnostic.IDE0060.severity = error

# Use file scoped name spaces instead of block scoped ones
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0161.severity = error

# Use primary constructor
csharp_style_prefer_primary_constructors = true
dotnet_diagnostic.IDE0290.severity = error

# Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = error
